[submodule "Pixel/vendor/spdlog"]
	path = Pixel/vendor/spdlog
	url = https://github.com/pixel-Teee/spdlog.git
[submodule "Pixel/vendor/GLFW"]
	path = Pixel/vendor/GLFW
	url = https://github.com/pixel-Teee/glfw.git
[submodule "Pixel/vendor/imgui"]
	path = Pixel/vendor/imgui
	url = https://github.com/pixel-Teee/imgui.git
	branch = docking
[submodule "Pixel/vendor/glm"]
	path = Pixel/vendor/glm
	url = https://github.com/pixel-Teee/glm.git
[submodule "Pixel/vendor/yaml-cpp"]
	path = Pixel/vendor/yaml-cpp
	url = https://github.com/pixel-Teee/yaml-cpp.git
[submodule "Pixel/vendor/imguizmo"]
	path = Pixel/vendor/imguizmo
	url = https://github.com/pixel-Teee/ImGuizmo.git
[submodule "Pixel/vendor/Box2D"]
	path = Pixel/vendor/Box2D
	url = https://github.com/pixel-Teee/box2d.git
[submodule "Pixel/vendor/assimp"]
	path = Pixel/vendor/assimp
	url = https://github.com/pixel-Teee/assimp.git
[submodule "Pixel/vendor/spir-v"]
	path = Pixel/vendor/spir-v
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Pixel/vendor/imgui-node-editor"]
	path = Pixel/vendor/imgui-node-editor
	url = https://github.com/pixel-Teee/imgui-node-editor.git
[submodule "Pixel/vendor/bullet3"]
	path = Pixel/vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Pixel/vendor/json"]
	path = Pixel/vendor/json
	url = https://github.com/pixel-Teee/rapidjson.git
[submodule "Pixel/vendor/rttr"]
	path = Pixel/vendor/rttr
	url = https://github.com/pixel-Teee/rttr.git
