[submodule "Pixel/vendor/spdlog"]
	path = Pixel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pixel/vendor/GLFW"]
	path = Pixel/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Pixel/vendor/imgui"]
	path = Pixel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Pixel/vendor/glm"]
	path = Pixel/vendor/glm
	url = https://github.com/g-truc/glm
